<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="show_sql">false</property>
		<property name="use_sql_comments">false</property>
		<property name="generate_statistics">false</property>

		<property name="hibernate.connection.verifyServerCertificate">false</property>
		<property name="hibernate.connection.requireSSL">false</property>
		<property name="hibernate.connection.useSSL">false</property>

		<property name="hibernate.c3p0.idle_test_period">6</property>
		<property name="hibernate.c3p0.timeout">6</property>
		<property name="hibernate.c3p0.max_size">7000</property>
		<property name="hibernate.c3p0.min_size">20</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.validate">true</property>

		<!-- Model Mappings -->
		<mapping resource="xmls/Auditlog.hbm.xml" />
		<mapping resource="xmls/CenterUsers.hbm.xml" />
		<mapping resource="xmls/EntityType.hbm.xml" />
		<mapping resource="xmls/Files.hbm.xml" />
		<mapping resource="xmls/Milestones.hbm.xml" />
		<mapping resource="xmls/Parameters.hbm.xml" />
		<mapping resource="xmls/ResearchArea.hbm.xml" />
		<mapping resource="xmls/ResearchCenter.hbm.xml" />
		<mapping resource="xmls/ResearchImpact.hbm.xml" />
		<mapping resource="xmls/ResearchLeaders.hbm.xml" />
		<mapping resource="xmls/ResearchObjective.hbm.xml" />
		<mapping resource="xmls/ResearchOutcome.hbm.xml" />
		<mapping resource="xmls/ResearchOutput.hbm.xml" />
		<mapping resource="xmls/ResearchPrograms.hbm.xml" />
		<mapping resource="xmls/ResearchTopic.hbm.xml" />
		<mapping resource="xmls/Roles.hbm.xml" />
		<mapping resource="xmls/UserRoles.hbm.xml" />
		<mapping resource="xmls/Users.hbm.xml" />
		<mapping resource="xmls/ResearchImpactObjectives.hbm.xml" />
		<mapping resource="xmls/SectionStatuses.hbm.xml" />		
		<mapping resource="xmls/TargetUnits.hbm.xml" />
		<mapping resource="xmls/Institutions.hbm.xml" />
		<mapping resource="xmls/InstitutionTypes.hbm.xml" />
		<mapping resource="xmls/LocElements.hbm.xml" />
		<mapping resource="xmls/LocElementTypes.hbm.xml" />
		<mapping resource="xmls/LocGeopositions.hbm.xml" />
		<mapping resource="xmls/ResearchOutputPartnerPersons.hbm.xml" />
		<mapping resource="xmls/ResearchOutputPartners.hbm.xml" />
		<mapping resource="xmls/Beneficiaries.hbm.xml" />
		<mapping resource="xmls/BeneficiaryTypes.hbm.xml" />
		<mapping resource="xmls/ResearchImpactBeneficiaries.hbm.xml" />
		<mapping resource="xmls/ResearchRegions.hbm.xml" />
		<mapping resource="xmls/NextuserTypes.hbm.xml" />
		<mapping resource="xmls/ResearchOutputsNextUsers.hbm.xml" />
		<mapping resource="xmls/ResearchCycles.hbm.xml" />
		<mapping resource="xmls/Submissions.hbm.xml" />
	</session-factory>

</hibernate-configuration>

   